/* CUSTOM CSS */

html, body {
    background-color: #FFFFFF;
    color: #222222;
    font-family: 'Roboto Black', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container {
    padding-top: 50px;
    text-align: center;
}
