/* CUSTOM CSS */

/*

    /$$$$$  /$$$$$$  /$$$$$$ /$$      /$$  /$$$$$$            /$$   /$$ /$$     /$$ /$$$$$$$$
   |__  $$ /$$__  $$|_  $$_/| $$$    /$$$ /$$__  $$          | $$  / $$|  $$   /$$/|_____ $$
      | $$| $$  \__/  | $$  | $$$$  /$$$$| $$  \ $$          |  $$/ $$/ \  $$ /$$/      /$$/
      | $$| $$        | $$  | $$ $$/$$ $$| $$  | $$           \  $$$$/   \  $$$$/      /$$/
 /$$  | $$| $$        | $$  | $$  $$$| $$| $$  | $$            >$$  $$    \  $$/      /$$/
| $$  | $$| $$    $$  | $$  | $$\  $ | $$| $$  | $$           /$$/\  $$    | $$      /$$/
|  $$$$$$/|  $$$$$$/ /$$$$$$| $$ \/  | $$|  $$$$$$/    /$$   | $$  \ $$    | $$     /$$$$$$$$
\______/   \______/ |______/|__/     |__/ \______/    |__/   |__/  |__/    |__/    |________/

MADE by JERRY CIMO
~ ~ jcimo.xyz ~ ~

*/

html, body {
    background: #EEEEEE;
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    width: 100%;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    font-weight: bold;
}

.container {
    background: ;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 25px;
    float: top;
    margin: 0px;
}

.subheader {
    width: 100%;
    height: 25px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.www { font-weight: lighter; }

.logo { float: left; }
.link-a { float: right; }
.role { float: left; }
.subrole { float: right; }
.link-b { float: right; }

.border-a {
    background: #000000;
    height: 10px;
    width: 100%;
}

.border-b {
    background: #000000;
    height: 1px;
    width: 100%;
    margin-top: 5px;
}

.border-c {
    height: 180px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;

    background: rgb(255,89,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,89,0,1) 1%, rgba(114,0,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,89,0,1) 1%,rgba(114,0,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,89,0,1) 1%,rgba(114,0,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5900', endColorstr='#7200ff',GradientType=0 ); /* IE6-9 */
}

.body {
    margin-top: 10px; }

.b-main {
    height: 24px;
}

.b-main-head {
    float: left;
}

.b-main-date {
    float: right;
}

.b-break {
    height: 16px;
}

.lbar {
    font-family: 'Roboto Black', sans-serif;
    background: #ffffff;
    color: #000000;
    border-style: groove;
    border-width: 2px;
    padding: 5px;
    border-color: #000000;
}

.footer {
    padding-top: 50px;
    font-size: 10px;
}
